.base-container {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-content {
    display: flex;
    flex-direction: column;

    .login-image {
      width: 21em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .login-form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 20px;
        }
        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }

  .login-footer {
    margin-top: 3em;
  }
}


.button-36 {
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #0e81ce96;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #0e81ce96;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #0e81ce96;
 }
 
 .button-36:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #0e81ce96;
 }
 
 .button-36:active {
  transform: scale(0.9);
 }